html.matter-leave body {
  overflow: hidden;
}

html.matter-leave .matter-transition {
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
  opacity: 0;
  -webkit-transition: 0 !important;
  transition: 0 !important;
}

html.matter-in body {
  overflow: hidden;
}

html.matter-in .matter-transition {
  -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0);
  opacity: 0;
  -webkit-transition: 0 !important;
  transition: 0 !important;
}

.matter-transition {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
